{% extends "_layouts/cp.twig" %}
{% import "_includes/forms.twig" as forms %}

{% set title = 'Settings'|t('simple-form') %}
{% set selectedSubnavItem = 'settings' %}
{% set fullPageForm = true %}
{% set selectedSettingsSubnavItem = selectedSettingsSubnavItem ?? 'general' %}

{% block sidebar %}
    {% include 'simple-form/settings/_sidebar' %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="simple-form/settings/save">
    <input type="hidden" name="tab" value="{{ selectedSettingsSubnavItem }}">
    {{ redirectInput('simple-form/settings/' ~ selectedSettingsSubnavItem) }}
    {{ csrfInput() }}

    {% include 'simple-form/settings/_tabs/' ~ selectedSettingsSubnavItem %}
{% endblock %}
