{% extends "_layouts/cp" %}
{% set title = form.id ? 'Edit Form' : 'Create Form' %}
{% set selectedSubnavItem = 'forms' %}

{% block content %}
<form method="post" action="{{ cpUrl('simple-form/forms/save') }}" accept-charset="UTF-8">
    {{ csrfInput() }}
    {% if form.id %}<input type="hidden" name="formId" value="{{ form.id }}">{% endif %}

    <div id="fields">
        {% set tabs = {
            content: {label: 'Form'|t('simple-form')},
            settings: {label: 'Settings'|t('simple-form')},
        } %}

        <div id="content" class="pane">
            {{ forms.textField({
                label: 'Name'|t('simple-form'),
                id: 'name',
                name: 'name',
                value: form.name,
                required: true,
                errors: form.getErrors('name'),
            }) }}

            {{ forms.textField({
                label: 'Handle'|t('simple-form'),
                id: 'handle',
                name: 'handle',
                value: form.handle,
                required: true,
                errors: form.getErrors('handle'),
            }) }}

            {{ forms.textField({
                label: 'Title'|t('simple-form'),
                id: 'title',
                name: 'title',
                value: form.title,
                errors: form.getErrors('title'),
            }) }}

            {{ forms.textareaField({
                label: 'Description'|t('simple-form'),
                id: 'description',
                name: 'description',
                value: form.description,
                errors: form.getErrors('description'),
            }) }}
        </div>

        <div id="settings" class="pane">
            {{ forms.textField({
                label: 'Email To'|t('simple-form'),
                id: 'emailTo',
                name: 'emailTo',
                type: 'email',
                value: form.emailTo,
                errors: form.getErrors('emailTo'),
            }) }}

            {{ forms.textField({
                label: 'Email Subject'|t('simple-form'),
                id: 'emailSubject',
                name: 'emailSubject',
                value: form.emailSubject,
                errors: form.getErrors('emailSubject'),
            }) }}

            {{ forms.textField({
                label: 'Email Reply-To'|t('simple-form'),
                id: 'emailReplyTo',
                name: 'emailReplyTo',
                type: 'email',
                value: form.emailReplyTo,
                errors: form.getErrors('emailReplyTo'),
            }) }}
        </div>
    </div>

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('simple-form') }}">
    </div>
</form>

<style>
    #fields {
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}
