{% extends '_layouts/cp.twig' %}

{% set title = 'Forms'|t('simple-form') %}
{% set selectedSubnavItem = 'forms' %}
{% do craft.app.view.registerAssetBundle('fabianhaef\\simpleform\\web\\assets\\cp\\SimpleFormCpAsset') %}

{% block actionButton %}
    {% if stencils|length %}
        <div class="btngroup">
            <a class="btn submit add icon" href="{{ cpUrl('simple-form/forms/new') }}">
                {{ 'New Form'|t('simple-form') }}
            </a>
            <button type="button" class="btn submit menubtn" title="{{ 'New form from stencil'|t('simple-form') }}" aria-label="{{ 'New form from stencil'|t('simple-form') }}"></button>
            <div class="menu">
                <ul>
                    <li>
                        <a href="{{ cpUrl('simple-form/forms/new') }}">{{ 'Blank form'|t('simple-form') }}</a>
                    </li>
                </ul>
                <hr>
                <h6>{{ 'Start from a stencil'|t('simple-form') }}</h6>
                <ul>
                    {% for stencil in stencils %}
                        <li>
                            <a class="formsubmit"
                               data-action="simple-form/forms/new-from-stencil"
                               data-params="{{ { stencil: stencil.handle }|json_encode }}"
                               title="{{ stencil.description }}">
                                {{ stencil.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <a class="btn submit add icon" href="{{ cpUrl('simple-form/forms/new') }}">
            {{ 'New Form'|t('simple-form') }}
        </a>
    {% endif %}
{% endblock %}

{% block content %}
{% if forms %}
    <table class="data fullwidth collapsible">
        <thead>
            <tr>
                <th>{{ 'Name'|t('simple-form') }}</th>
                <th>{{ 'Handle'|t('simple-form') }}</th>
                <th>{{ 'Email To'|t('simple-form') }}</th>
                <th>{{ 'Date Created'|t('simple-form') }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
                <tr>
                    <td>
                        <a href="{{ cpUrl('simple-form/forms/edit/' ~ form.id) }}">
                            {{ form.title ?: form.name }}
                        </a>
                    </td>
                    <td>{{ form.handle }}</td>
                    <td>{{ form.emailTo }}</td>
                    <td>{{ form.dateCreated|date('short') }}</td>
                    <td class="thin">
                        <a class="btn small"
                           href="{{ cpUrl('simple-form/forms/' ~ form.id ~ '/integrations') }}">
                            {{ 'Integrations'|t('simple-form') }}
                        </a>
                    </td>
                    <td class="thin">
                        <a class="btn small formsubmit"
                           data-action="simple-form/forms/duplicate"
                           data-params="{{ { formId: form.id }|json_encode }}">
                            {{ 'Duplicate'|t('simple-form') }}
                        </a>
                    </td>
                    <td class="thin">
                        <a class="delete icon"
                           title="{{ 'Delete'|t('simple-form') }}"
                           onclick="return confirm('{{ 'Delete this form?'|t('simple-form')|e('js') }}')"
                           href="javascript:;"
                           data-action="simple-form/forms/delete"
                           data-method="post"
                           data-param="formId"
                           data-value="{{ form.id }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="zilch sf-empty-state">
        <p class="sf-empty-heading">{{ 'No forms yet.'|t('simple-form') }}</p>
        <p class="light">{{ 'Create your first form to start collecting submissions.'|t('simple-form') }}</p>
        <a class="btn submit add icon" href="{{ cpUrl('simple-form/forms/new') }}">{{ 'New Form'|t('simple-form') }}</a>
    </div>
{% endif %}
{% endblock %}
